#form-container {
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
}

#display-container {
    display: flex;
    flex-direction: column;
    border: 3px solid green;
}


#feature-article {
    display: flex;
    flex-direction: row;
    }

#cuisine-article {
    display: flex;
    flex-direction: row;
    }

#topic-article {
    display: flex;
    flex-direction: row;
}

#genre-article {
    display: flex;
    flex-direction: row;
    }

#park-article {
    display: flex;
    flex-direction: row;
    }

#food-article {
    display: flex;
    flex-direction: row;
    }

#meet-article {
    display: flex;
    flex-direction: row;
    }

#music-article {
    display: flex;
    flex-direction: row;
   }