{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 0,
        "quotes": 0, //["error", "double"],
        "eqeqeq": 0,
        "no-trailing-spaces": 0
    }
  }
